// HEADER
header a {
  color: @white;
}

header .nav-pills {
  li {
    margin: 4px 5px 0 5px;
    a {
      padding: 7px 15px;
      font-weight: 200;
      &:hover, &:active{
        color: @white;
      }
    }
  }
  li > a:hover, .open > a, .open > a:focus , li.active > a {
    background-color: @blue-light;
    color: @white;
  }
}

.navbar {
  margin: 0;
}

// CONTENT

.full-width-banner {
  width: 100%;
  background-color: @blue-light;
  padding: 10px 0;
  border-bottom: 3px solid @orange;
  //  margin-bottom: 25px;
  .container {
    text-align: center;
  }
  .lead {
    margin: 10px 0;

    color: @white;
    font-weight: 200;
//    font-size: 1.9em;
  }
}

.top-image{
  margin: 0 auto;
}

.panel{
  padding: 15px;
}

// FOOTER