/* Large desktop */
@media (min-width: 1200px) {
  .nav {
    padding: 30px 0;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .nav {
    padding: 30px 0;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .nav {
    padding: 5px 0;
    text-align: center;
  }

  .nav.pull-right {
    float: left !important;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .nav {
    padding: 5px 0;
  }

  .nav.pull-right {
    float: left !important;
    clear: both;
    width: 100%;
  }

  .nav>li {
    float: none;
    width: 80%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {

  .nav.pull-right {
    float: left !important;
    clear: both;
    width: 80%;
  }

  .nav>li {
    float: none;
    width: 100%;
  }
}