// Fonts
body, h1, h2, h3, h4, h5, p, li, a {
  font-family: 'Lato', 'helveticaneue light', "helvetica neue light", "helvetica neue", "helvetica", sans-serif;
  font-weight: 300;
}

p, p a, {
  font-family: 'Lora', 'times new roman', serif;
}

// Typography Elements
body {
  font-size: 16px;
  line-height: 24px;
}

article {
  max-width: 944px;
  margin: auto;
}

h1 {
  font-size: 110px;
  line-height: 120px;
  margin-top: 24px;
  margin-bottom: 48px;
}

h2 {
  font-size: 42px;
  line-height: 48px;
  margin-top: 48px;
  margin-bottom: 24px;
}

h3 {
  font-size: 26px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 0px;
}

p, ul {
  margin-top: 0px;
  margin-bottom: 24px;
}

small, aside {
  font-size: 10px;
}

// Layout Elements
header {
  top: 0;
  background: #193170;
  padding: 0 0 25px 0;
}

.row {
  margin-top: 25px;
}

footer {
  clear: both;
}